#pano {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#map {
  width: 400px;
  height: 300px;
  float: left;
  padding: 0;
}

#progress {
  width: 500px;
  height: 120px;
  float: left;
  padding-top: 10px;
  z-index: 1;
  border-style: solid;
  border-width: medium;
}

#input_gui {
  width: 400px;
  height: 300px;
  float: left;
  padding: 0;
  position: absolute;
  top: 330px;
  background-color: rgba(0, 0, 0, 0.957);
  color: white;
}

#map_form {
  padding: 10px;
}

#start_point {
  padding: 10px;
}

#end_point {
  padding: 10px;
}

#target_date {
  padding: 10px;
}